<html>
    <h1>Minha tela</h1>

    <p>Essa é a action referente ao HomeController action MinhaTela</p>

    <img src="https://th.bing.com/th/id/R.4537aafd01e06cc95eb616fbe0be7baf?rik=vLMtgRCr1CHz9Q&pid=ImgRaw&r=0" width="950px" height="500px"/>
    <img src="~/segunda_imagem_MinhaTela.jpg" />

    <br />
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOME</th>
                <th>IDADE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Luigi</td>
                <td>18</td
            </tr>
            <tr>
                <td>2</td>
                <td>Gabriel</td>
                <td>18</td
            </tr>
            <tr>
                <td>3</td>
                <td>Gilberto Pinto Machado</td>
                <td>~98</td
            </tr>
        </tbody>
    </table>
</html>