<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>Lista de clientes</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <a href="/Cliente/Cadastrar" class="btn btn-success">Novo cliente</a>
                    </div>

                    <div class="col-4">
                        <select name="filtro" class="form-control">
                            <option value="0">Todos as opções</option>
                            <option value="id">Por Código</option>
                            <option value="nome">Por Nome</option>
                            <option value="qtd">Por CPF</option>
                        </select>
                    </div>

                    <div class="col-4">
                        <input type="text" name="busca" class="form-control" />
                    </div>

                    <div class="col-2">
                        <button class="btn btn-primary">Pesquisar</button>
                    </div>
                </div>

                <form action="/Cliente/Pesquisa" method="get">
                </form>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código do Cliente</th>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Ana</td>
                            <td>150.150.152-78</td>
                            <td>
                                <a href="/Cliente/Editar/1" class="btn btn-warning">Editar</a>
                                <a href="/Cliente/Excluir/1" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Bruna</td>
                            <td>160.160.162-78</td>
                            <td>
                                <a href="/Cliente/Editar/2" class="btn btn-warning">Editar</a>
                                <a href="/Cliente/Excluir/2" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Carla</td>
                            <td>170.170.172-78</td>
                            <td>
                                <a href="/Cliente/Editar/3" class="btn btn-warning">Editar</a>
                                <a href="/Cliente/Excluir/3" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Daniela</td>
                            <td>180.180.182-78</td>
                            <td>
                                <a href="/Cliente/Editar/4" class="btn btn-warning">Editar</a>
                                <a href="/Cliente/Excluir/4" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>