<div class="row">
    <div class="col-1"></div>

    <div class="col-10">
        <div class="card">
            <div class="card-header">
                <h2>Lista de Produtos</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Código do Produto</th>
                            <th>Nome</th>
                            <th>Qtd em Estoque</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Mouse gamer</td>
                            <td>150</td>
                            <td>
                                <a href="/Produto/Editar/1" class="btn btn-warning">Editar</a>    
                                <a href="/Produto/Excluir/1" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Barbie Unicórnio Feliz</td>
                            <td>10</td>
                            <td>
                                <a href="/Produto/Editar/2" class="btn btn-warning">Editar</a>
                                <a href="/Produto/Excluir/2" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Processador i5</td>
                            <td>50</td>
                            <td>
                                <a href="/Produto/Editar/3" class="btn btn-warning">Editar</a>
                                <a href="/Produto/Excluir/3" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>GTX 1080</td>
                            <td>5</td>
                            <td>
                                <a href="/Produto/Editar/4" class="btn btn-warning">Editar</a>
                                <a href="/Produto/Excluir/4" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-1"></div>
</div>